.wishlist-box-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  list-style: none;
  gap: 0.5rem;
  width: 90%;
  margin: 2rem;

  object-fit: contain;
}
.wishcard-container {
  color: var(--background-color);
  font-family: "Lato", sans-serif;
  width: 80%;
  text-align: center;
}

.wish-card-typography {
  position: relative;
  font-family: "Lato", sans-serif;
  top: -1rem;
  text-align: center;
}

.wishlist-cart-button {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin-top: 0.3rem;
  border: none;
  background-color: var(--background-color);
  color: var(--primary-color);
  font-size: 1rem;
  cursor: pointer;
  font-family: "Lato", sans-serif;
}
.wishcard-typo-skin {
  margin-top: -1rem;
}
.wishlist-cart-button:hover {
  background-color: var(--secondary-color);
  color: var(--background-color);
}
.wishlist-original-price {
  display: inline;
  text-decoration: line-through;
  margin: 0.1rem;
}
.wish-img {
  width: 100%;
}

.wishlist-img-box {
  border: 1px solid #262626;
  height: 20vw;
  object-fit: contain;
}

.wishcard-wishlist-emoji {
  font-size: 1rem;
  float: right;
  cursor: pointer;
  margin: 0.5rem;
}

.wishcard-wishlist-emoji :hover {
  color: red;
}

@media only screen and (max-width: 850px) {
  .wishlist-box-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
  }
  .wishlist-img-box {
    border: 1px solid #262626;
    height: 51vw;
    object-fit: contain;
  }
  .wishlist-cart-button {
    padding: 0.5rem 1rem;
  }
}
