body {
  margin: 0;
  font-family: Lato, sans-serif;
  box-sizing: border-box;
}
.cart-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  width: 100%;
}
.wishlist-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  border-bottom: 1px solid lightgray;
  width: 100%;
  padding: 0.5rem;
  height: 90%;
}
.cart {
  display: grid;
  margin: 1rem;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  overflow-y: scroll;
  max-height: 70vh;
  overflow-x: hidden;
  padding: 0rem 2rem;
  border: 1px solid grey;
}
.wishlist-cart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.total-item {
  width: 50%;
  height: 66vh;
  float: right;
  text-align: right;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  margin: 1rem;
  background-color: #262626;
  color: var(--primary-color);
  border: 1px solid grey;
}
.subtotal {
  text-align: center;
  font-size: 1.3rem;
}

.order-button {
  border: none;
  border-radius: 0.3rem;
  padding: 0.7rem 4rem;
  background-color: var(--background-color);
  color: var(--primary-color);
  cursor: pointer;
  text-align: center;
}

.order-button:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: 1px solid var(--background-color);
}

.cart-image {
  width: 100%;
}

.wishlist-cart-typography {
  width: 150%;
  margin-left: 2rem;
}

.wishlist-cart-typography > span {
  margin: 0.2rem;
}
.tags {
  cursor: pointer;
  float: right;
  margin-top: -1rem;

  width: 6rem;
  height: 2rem;
  margin-left: auto;
  margin-right: 2rem;
}
.subtotoal-num {
  text-align: center;
}
.empty-cart-image {
  margin: 1rem;
  width: 80%;
  margin-left: 50%;
}
@media only screen and (max-width: 850px) {
  .cart {
    width: 75%;
    margin-left: 5%;
  }
  .total-item {
    width: 85%;
  }
  .wishlist-cart {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    padding-bottom: 1rem;
  }
  .wishlist-container {
    height: 95%;
  }

  .cart-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }
  .total-item {
    width: 72%;
    margin-right: 5%;
    height: 86vh;
    text-align: right;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background-color: #262626;
    color: var(--primary-color);
    border: 1px solid grey;
  }
  .empty-cart-image {
    margin: 1rem;
    width: 80%;
    margin-left: 10%;
  }
}
