.productDetails-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: none;
}

.productDetails-img {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productDetails-typo {
  font-size: 2rem;
  margin-left: 3rem;
}

.see-all-button {
  font-size: 1rem;
  text-decoration: none;
  background-color: grey;
  color: var(--background-color);
  border-radius: 0.2rem;
  padding: 0.5rem 2rem;
  border: none;
  margin: 0.5rem;
}
.see-all-button:hover {
  color: var(--primary-color);
}

@media (max-width: 600px) {
  .productDetails-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
