.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  list-style: none;
  gap: 1rem;
  width: 80%;
  float: right;
}

.product-name {
  text-align: left;
}

.product-price {
  color: red;
  margin-top: -1rem;
}
.product-logo {
  display: none;
}
.product-original-price {
  text-decoration: line-through;
  margin: 0.5rem;

  text-align: left;
}

.left-bar {
  display: flex;
  flex-direction: column;
  width: 13%;
  color: var(--background-color);
  margin-top: 1rem;
  padding: 1rem;
  margin-left: 1rem;
  position: absolute;
}

.filter-nav {
  display: flex;
  flex-direction: column;
  margin-top: -1.5rem;
}

.nav-heading {
  font-size: 1.3rem;
}

input {
  margin-top: -1rem;
}

.card-container {
  color: var(--background-color);
  font-family: "Lato", sans-serif;
  width: 80%;
}

.product-card-typography {
  position: relative;
  font-family: "Lato", sans-serif;
  top: -1rem;
}
.product-img {
  width: 100%;
}

.img-box {
  border: 1px solid lightgray;
}

.product-cart-button {
  padding: 0.5rem 2.5rem;
  border-radius: 0.4rem;
  margin-top: -0.6rem;
  border: none;

  background-color: var(--background-color);
  color: var(--primary-color);
  font-size: 1.1rem;
  cursor: pointer;
  font-family: "Lato", sans-serif;
}

.view-details-btn {
  font-size: 0.8rem;
  border: none;
  text-decoration: none;
  background-color: #374151;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.3rem;
  position: relative;
  top: 1rem;
}

.product-cart-button:hover {
  background-color: var(--secondary-color);
  color: var(--background-color);
}

.card-wishlist-emoji {
  font-size: 1.5rem;
  float: right;
  cursor: pointer;
  margin: 0.5rem;
}
.new-tag {
  font-size: 0.8rem;
  float: left;
  background-color: var(--background-color);
  color: var(--primary-color);
  padding: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 1rem;
}
.rating-box {
  float: right;
}
.price-filter {
  float: right;
  margin-right: 2rem;
  width: 20%;
  margin: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  border: 1px solid var(--secondary-color);
}

@media only screen and (max-width: 600px) {
  .left-bar {
    width: 80%;
    border: none;
  }
  .product-container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 46rem;
    margin-right: 2rem;
  }
  .product-cart-button {
    padding: 0.5rem 0.7rem;
    font-size: 0.7rem;
  }
  .product-price {
    color: red;
    font-size: 1rem;
  }
  .product-original-price {
    text-decoration: line-through;
    margin: 0.5rem;
    font-size: 0.6rem;
  }
  .price-filter {
    position: relative;
    top: 2rem;
    margin-right: 2rem;
    width: 30%;
  }
  .product-logo {
    width: 5rem;
    display: block;
    position: relative;
    top: 1rem;
    left: -1.5rem;
  }
  input {
    position: relative;
    right: 1rem;
  }
  .product-price {
    color: red;
    margin-top: -0.5rem;
    display: block;
  }
}

/* @media only screen and (max-width: 768px) {
  .product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: auto;
  }
} */
/* @media only screen and (min-width: 1200px) {
  .product-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
} */
