.wishlist-box-container {
  list-style: none;
  margin: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
}
.wishcard-container {
  color: var(--background-color);
  font-family: "Lato", sans-serif;
  width: 70%;
  text-align: center;
}

.product-card-typography {
  position: relative;
  font-family: "Lato", sans-serif;
  top: -1rem;
}
@media only screen and (max-width: 600px) {
  .wishlist-box-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
